NET "CLK100MHZ" LOC = "V10" | IOSTANDARD = "LVCMOS33";
NET "SW<0>" LOC ="T10" | IOSTANDARD = "LVCMOS33";
NET "SW<1>" LOC ="T9" | IOSTANDARD = "LVCMOS33";
NET "SW<2>" LOC ="V9" | IOSTANDARD = "LVCMOS33";

NET "RST" LOC ="B8" | IOSTANDARD = "LVCMOS33";

NET "PWM" LOC ="T12" | IOSTANDARD = "LVCMOS33";